@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,400;1,100;1,200&display=swap');

$m-height: 20rem;
$m-width: 26rem;

// $m-height: 24rem;
// $m-width: 16rem;

body{
	margin: 0;
	padding: 0;
}
.wrapper {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #d9dcd6;
	height: 100vh;
	font-family: 'Poppins', sans-serif;
	overflow: hidden;
}

.book {
	height: $m-height;
	width: $m-width;
	font-size: 0.8rem;
	box-shadow: 1rem 2rem 3rem rgba(#000, 0.25);
	position: relative;
	color: #484e4a;
}

.page {
	width: 100%;
	height: $m-height;
	perspective: 1500px;

	&__1 {
		// Front of 1st page
		background-color: #ffffff;
		color: rgb(0, 0, 0);
		width: 100%;
		height: 100%;
		text-align: center;
		overflow: hidden; 
		position: absolute;
		top: 0;
		left: 0;
		opacity: 1;
		transition: all 1s 0.3s;
		transform-origin: 0 50%;
		z-index: 2;
		padding: 16px;
		border: 4px solid #fff;

		&::after {
			// Back of 1st page
			content: "🍰";
			display: flex;
			justify-content:center ;
			align-items: center;
			font-size: 3rem;
			color: #252525;
			position: absolute;
			padding-top: 1.5rem;
			top: 0;
			left: 0;
			background-color: #ffffff;
			width: 100%;
			height: 100%;
			z-index: 1;
			opacity: 0;
			padding: 16px;
			transform: rotateY(180deg);
			transition: all 0.3s 0.5s;
		}
	}

	&__2 {
		// Front of 2nd page
		background-color: #8100eb;
		color: #d9dcd6;
		width: 100%;
		height: 100%;
		font-weight: 400;
		position: absolute;
		text-align: center;
		padding: 16px;
		top: 0;
		left: 0;
		opacity: 1;
		border: 4px solid #fff;
	}

	&:hover &__1 {
		transform: rotateY(-180deg);
		box-shadow: 1.5rem 2rem 3rem rgba(#000, 0.25);

		&::after {
			// Back of 1st page hover
			opacity: 1;
		}
	}
}

#chead{
	font-size: 1.4rem;
	// text-transform: uppercase;
	text-align: center;
	font-weight: 600;
	line-height: 1px;
}

#uname{
	font-size: 1.4rem;
	// text-transform: uppercase;
	text-align: center;
	font-weight: 400;
}

#utext{
	white-space: pre-wrap;       
    white-space: -moz-pre-wrap;  
    white-space: -pre-wrap;      
    white-space: -o-pre-wrap;    
    word-wrap: break-word;      
}


@media only screen and (max-width:500px){
	$m-height: 200px;
	$m-width: 280px;

	#chead{
		font-size: 1rem;
		// text-transform: uppercase;
		text-align: center;
		font-weight: 600;
		line-height: 0.5px;
	}

	#uname{
		font-size: 1rem;
		// text-transform: uppercase;
		text-align: center;
		font-weight: 400;
	}
	

	.book {
		height: $m-height;
		width: $m-width;
		font-size: 0.6rem;
		box-shadow: 1rem 2rem 3rem rgba(#000, 0.25);
		position: relative;
		color: #484e4a;
	}
	
	.page {
		width: 100%;
		height: $m-height;
		perspective: 1500px;
	
		&__1 {
			// Front of 1st page
			background-color: #ffffff;
			color: rgb(0, 0, 0);
			width: 100%;
			height: 100%;
			text-align: center;
			overflow: hidden; 
			position: absolute;
			top: 0;
			left: 0;
			opacity: 1;
			transition: all 1s 0.3s;
			transform-origin: 0 50%;
			z-index: 2;
			padding: 16px;
			border: 4px solid #fff;
	
			&::after {
				// Back of 1st page
				content: "🍰";
				display: flex;
				justify-content:center ;
				align-items: center;
				font-size: 3rem;
				color: #252525;
				position: absolute;
				padding-top: 1rem;
				top: 0;
				left: 0;
				background-color: #ffffff;
				width: 100%;
				height: 100%;
				z-index: 1;
				opacity: 0;
				padding: 16px;
				transform: rotateY(180deg);
				transition: all 0.3s 0.5s;
			}
		}
	
		&__2 {
			// Front of 2nd page
			background-color: #8100eb;
			color: #d9dcd6;
			width: 100%;
			height: 100%;
			font-weight: 400;
			position: absolute;
			text-align: center;
			padding: 16px;
			top: 0;
			left: 0;
			opacity: 1;
			border: 4px solid #fff;
		}
	
		&:hover &__1 {
			transform: rotateY(-180deg);
			box-shadow: 1.5rem 2rem 3rem rgba(#000, 0.25);
	
			&::after {
				// Back of 1st page hover
				opacity: 1;
			}
		}
	}
}
