<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Ronik Bhattacharjee">
    <title>E-Card Generator | Ronik Bhattacharjee</title>
</head>
<body>

    <!-- STYLE -->
    <link rel="stylesheet" href="../css/style.css">
    
    <!-- TEMPLATE -->
    <div class="wrapper">
      <div class="book">
        <div class="page">
          <div class="page__1">
            <p id="utype">Hover to open</p>
          </div>
          <div class="page__2">
            <p id="chead"></p>
            <p id="uname"></p>
            <br>
            <p id="utext"></p>
            <br>
          </div>
        </div>
      </div>
    </div>


    <!-- SCRIPTS -->
    <script src="../path.js"></script>
    <script src="../js/template.js"></script>

</body>
</html>