<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Ronik Bhattacharjee">
    <title>E-Card Generator | Ronik Bhattacharjee</title>
</head>
<body>

    <!-- STYLE -->
    <link rel="stylesheet" href="../css/style.css">
    
    <!-- TEMPLATE -->
      <p id="chead"></p>  <!-- Page Title -->
      <p id="uname"></p>  <!-- Receiver's Name -->
      <p id="utext"></p>  <!-- Sender's Text -->
            
    <!-- SCRIPTS -->
    <script src="../path.js"></script>
    <script src="../js/template.js"></script>

</body>
</html>